NODE_ENV=
PORT=

JWT_SECRET=
OAUTH_JWT_SECRET=

# MongoDB URI
MONGODB_URI=

# WhatsApp API
WhatsAppToken=
phoneNumberID=

# Facebook App: <App-ID> (<App Name>) (ex. FB_APP_1234567890_Secret=)
FB_APP_<ID>_Secret=

# Ship Rocket
ShipRocket_ID=
ShipRocket_Password=

# NODEMAILER CONFIG
NODEMAILER_HOST=
NODEMAILER_PORT=
NODEMAILER_USER=
NODEMAILER_PASSWORD=
NODEMAILER_EMAIL=

# Attendance Credentials
Attendance_CorporateID=
Attendance_User=
Attendance_Password=

# Razorpay - threestyle.wear@gmail.com (Merchant ID: CiS87S7GTMLS25)
RAZORPAY_KEY=
RAZORPAY_SECRET=
RAZORPAY_WEBHOOK_SECRET=